/* HEX COLOR CODES */
/* #2596be */
/* #1b3254 */
/* #0d3146 */
/* #3e5d73 */
/* #768795 */
/* #958a7a */
/* #e0d1b9 */
/* #fff8f3*/


* {
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
ol, ul, li {
    list-style: none;
}
/* OVERALL HEADER */
#hero-img {
    background-image: url('/images/crosstrek6.jpg');
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
}
h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 1em;
    display: flex;
    justify-content: center;
    color: #0d3146;
    align-items: center;
}
@media (max-width: 844px) {
    h1 {
        font-size: 1.5rem;
    }
}
/* NAV SECTION*/

.nav-links {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    background: #ffffff55;
    backdrop-filter: blur(10px);
    padding: 1em 3em;
}
@media (max-width: 452px) {
    nav {
        display: block;
    }
}
.nav-links li a {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
}
/* END OF NAV SECTION */

#car-specs {
    background: #ffffff55;
    backdrop-filter: blur(10px);
    padding: 1em 3em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.specs-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.specs-box {
    display: flex;
    flex-direction: column;
}

/* END OF HEADER */

/* FOOTER */
footer {
    background-color: #1b2c45;
    width: 100vw;
}
.contacts {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1em 2em;
}
.contact-header {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.contacts li {
    font-size: 1.2rem;
    line-height: -1em;
}
/* END OF FOOTER */

/* LIGHT / DARK SECTION */

.dark-section {
    background-image: linear-gradient(to bottom left, #1b2c45, #081325);
    color: white;
    padding: 6em 2em;
}
.light-section {
    background-color: #fff8f3;
    color: black;
    padding: 6em 1em;
}

.dark-section .row,
.light-section .row {
    display: flex;
    align-items: center;  
    flex-wrap: wrap;
}

.section-details {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    height: 100%;
}
.section-header {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.section-summary {
    font-size: 2rem;
    line-height: -1em;
}
.section-img {
    border-radius: 1em;
}